asgiref==3.8.1
Brotli==1.1.0
Django==5.2
Faker==37.1.0
gunicorn==23.0.0
mysqlclient==2.2.7
packaging==25.0
pillow==11.2.1
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.9.0
django-import-export==3.0.0
uvicorn
psycopg2-binary==2.9.9
dj-database-url==2.3.0
